#aitia {
    display: block;
    background-position: left bottom;
    background-color: #eaeaea;
    height: 70px;
    margin: 8px 0;
    padding: 5px;
    font-weight: bold;
    border: none!important
}
.linkbutton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 4px 7px 4px 7px;
  text-decoration: none;
}

.linkbutton:hover {
  background: #3cb0fd;
   background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
   background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
   text-decoration: none;
}
FIELDSET {
    margin: 0;
    padding: 2px 5px
}
LEGEND {
    background-image: url(../imagemap/bullet_green.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    padding-right: 5px
}
LEGEND A {
    border: none!important;
    text-decoration: none;
    cursor: pointer
}
.fieldset_off {
    border-bottom: none;
    border-right: none
}
.fieldset_off LEGEND {
    background-image: url(../imagemap/bullet_orange.gif)
}
.fieldset_off DIV {
    display: none
}
.source_desc {
    clear: left;
    float: left;
    width: 200px
}
.source_url {
    float: left;
    width: 380px;
    height: 24px
}
.source_url INPUT,
.source_url SELECT {
    font-size: 95%;
    width: 340px;
    padding: 0 0 0 1px
}
A.source_accept {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 19px;
  text-decoration: none;
}
A.source_accept:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#img_area_form {
    margin: 5px 0;
    padding: 0;
    border: 0
}
#form_container {
    white-space: nowrap;
    overflow: auto;
    height: 88px;
    border-top: solid 1px #bfc1c5
}
#form_container INPUT,
#form_container SELECT {
    border: 1px solid black;
    font-size: 10px;
    margin: 0;
    padding: 0 0 0 1px
}
.img_area {
    display: block;
    vertical-align: middle;
    line-height: 20px;
    height: 20px
}
.img_id {
    font-weight: bold;
    width: 25px;
    padding: 0 3px;
    text-align: right;
    border: none!important;
    background: none
}
.img_active {
    border: none!important
}
.img_coords {
    width: 82px
}
.img_href {
    width: 110px
}
.img_alt {
    width: 110px
}
.img_target {
    width: 82px
}
#pic_container {
    position: relative;
    width: 100%;
    height: 300px;
    border: solid 0 #efefef;
    overflow: auto
}
#pic_container .imgmap_label {
    font: bold 10px Arial;
    color: #100;
    padding: 1px 2px
}
#status_container {
    font-weight: bold!important;
    font-size: 90%;
    color: #e95949;
    width: 100%
}
#button_container img {
    margin: 0 1px;
    cursor: pointer
}
#fieldset_html {
    text-align: left
}
#html_container {
    border: 1px solid black;
    margin: 5px 0;
    padding: 1px 0 0 1px;
    height: 100px;
    width: 100%
}
