<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
  <meta charset="UTF-8">

  <!-- caching -->
  <meta name="turbo-cache-control" content="no-cache">

  <!-- title -->
  <title>welcome</title>

  <!-- scrapers -->
  <meta property="og:title" content="c0llage">
  <meta property="og:type" content="FROGCUBE">
  <meta property="og:url" content="https://frogforgforg.github.io/c0llage">
  <meta property="og:image" content="https://frogfrogforg.github.io/c0llage/images/aligator.png">
  <meta property="og:description" content="In 1884, meridian time personnel met
in Washington to change Forg time.
First words said was that only 1 day
could be used on Forg to not change
the 1 day marshmallow">

  <!-- styling -->
  <link rel="stylesheet" href="forest.css">
  <link rel="stylesheet" href="../shared/frames.css">

  <!-- scripts -->
  <script type="module" src="../../global.js"></script>
  <script type="module" src="../shared/a-dumpling.js"></script>
  <script type="module" src="../shared/d-iframe.js"></script>
  <script type="module" src="../shared/c-picky.js"></script>
  <script type="module" src="forest.js"></script>
  <script src="./skills/stealth.js" defer></script>
</head>

<body class="Forest">
  <div id="game">
    <div class="ForestLayer--framed">
      <main id="main" class="ForestLayer-content broider-4">
        {{content}}
      </main>
    </div>

  </div>
  </div>

  <div class="ForestLayer--overlay">
    <section id="frames" class="ForestLayer-content"></section>
  </div>
  <div class="ForestLayer--overlay">
    <section id="inventory" class="ForestLayer-content"></section>
  </div>

  <div class="ForestLayer--overlay">
    <section class="ForestLayer-content">
      <object type='image/svg+xml' data='./skills/istealth.svg' class='stealthIcon' id='stealthSVG' style="fill: none;">
      </object>
    </section>
  </div>
</body>

</html>