body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
    overflow:visible;
    background: rgb(226,247,247);
    background: linear-gradient(180deg, rgba(226,247,247,1) 0%, rgba(207,191,181,1) 100%); 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vmin;
    max-height: 80vmin;
    width: 100%;
    height: 100%;
}

.centered {
    transform-origin: 20% 40%;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    height: 69vmin;
    width: 69vmin;
    border: 10px sienna double;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hotspot {
    position: absolute;
    display: block;
}

.inspect:after {
    content: '👁️';
    filter:grayscale(100%) opacity(36.9%) blur(1px) ;
    font-size: 3vmin;
    height: 1;
    width: 1;
    position: absolute;
    right:0;
}

.inspect:hover::after {
    filter: opacity(100%);
}