body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
    overflow:visible;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.centered {
    transform-origin: 20% 40%;
    translate: -50% -50%;
}

.content {
    position: relative;
    border: 10px sienna double;

    /* These properties are used to fix the aspect ratio in common.js: */
    --aspect-ratio: 1.;   /* maintain this width:height ratio */
    --fill-fraction: 0.69; /* aim to fill this much of the viewport in each dimension */
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hotspot {
    position: absolute;
    display: block;
}

/*this is for later. don't worry about it.*/

/*
.hotspot:hover{
    outline:4px dotted rgb(255,255,255,0.420);
}
*/