body {
    overflow:visible;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: blue;
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(226,247,247);
    background: linear-gradient(180deg, rgba(226,247,247,1) 0%, rgba(207,191,181,1) 100%);
}

.centered {
    transform-origin: 20% 40%; /* WHAAA? */
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    height: 80vmin;
    width: 80vmin;
    border: 1.15vmin sienna double;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hotspot {
    position: absolute;
    display: block;
}

.hotspot .debug {
    border: violet 10px solid;
}

.cosmodrome {
    color:coral;
}

/* Inventory */
.Inventory {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


/* cursors */
.inspect {
    cursor:url("../shared/img/inspect.png") 16 0, auto;
}

.talk {
    cursor: url("../shared/img/talk.png") 16 0, auto;
}

.move {
    cursor: url("../shared/img/move.png") 16 0, auto;
}

.cursor-haunt {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">👻</text></svg>'), auto;
}

.cursor-salad {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🥗</text></svg>'), auto;
}

.cursor-gift {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🎁</text></svg>'), auto;
}
