.Forest {
    overflow:visible;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: blue;
}

.Forest-layer {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Forest-root {
    background: rgb(226,247,247);
    background: linear-gradient(180deg, rgba(226,247,247,1) 0%, rgba(207,191,181,1) 100%);
    pointer-events: initial !important; /* were are bad */
}

.Forest-content {
    position: relative;
    height: 80vmin;
    width: 80vmin;
    border: 1.15vmin sienna double;
}

.centered {
    transform-origin: 20% 40%; /* WHAAA? */
    transform: translate(-50%, -50%);
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.hotspot {
    position: absolute;
    display: block;
    background: transparent;
    border: none !important;
    transition: all .8s ease-out;
}

.hotspot:hover {
    background-color:#04000422;
    filter: blur(30px);
    transition: all 0.1s ease-in;
}
.debug {
    border: violet 10px solid !important;
}

.cosmodrome {
    color:coral;
}

/* Frames */
.Forest-frames {
    pointer-events: none;
}

.Forest-inventory {
    pointer-events: none;
}

/* effects */
.screenshake-oneshot {
    animation: screenshake 0.1s;
    transition-timing-function: linear;
    animation-iteration-count: 10;
}

.screenshake-loop {
    animation: screenshake 0.1s;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes screenshake {
   0% { transform: translateY(0%); }
   50% { transform: translateX(1%); }
   100% { transform: translateX(0%); }
}

/* cursors */
.inspect {
    cursor:url("../shared/img/inspect.png") 16 0, auto;
}

.talk {
    cursor: url("../shared/img/talk.png") 16 0, auto;
}

.move {
    cursor: url("../shared/img/move.png") 16 0, auto;
}

.cursor-haunt {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">👻</text></svg>'), auto;
}

.cursor-salad {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🥗</text></svg>'), auto;
}

.cursor-gift {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🎁</text></svg>'), auto;
}

.cursor-pick-up {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40" transform="rotate(0, 30, 30)">👌</text></svg>'), auto;
}

.cursor-cow {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🐄</text></svg>'), auto;
}

.cursor-kiss {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">💋</text></svg>'), auto;
}

.cursor-heart {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">♥️</text></svg>'), auto;
}

.cursor-keyboard {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40"-size="40">⌨️</text>⌨️</svg>'), auto;
}

.cursor-lotus {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🧘</text></svg>'), auto;
}

.cursor-tree {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🌲</text></svg>'), auto;
}

.cursor-park {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🏞️</text></svg>'), auto;
}

.cursor-stop {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🛑</text></svg>'), auto;
}

.cursor-bus {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🚌</text></svg>'), auto;
}

.cursor-bird {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40"><text x="0" y="40" font-size="40">🐦</text></svg>'), auto;
}
