<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
  <meta charset="UTF-8">

  <!-- title -->
  <title>{title}</title>

  <!-- scrapers -->
  <meta property="og:title" content="c0llage">
  <meta property="og:type" content="FROGCUBE">
  <meta property="og:url" content="https://frogforgforg.github.io/c0llage">
  <meta property="og:image" content="https://frogfrogforg.github.io/c0llage/images/aligator.png">
  <meta property="og:description" content="In 1884, meridian time personnel met
in Washington to change Forg time.
First words said was that only 1 day
could be used on Forg to not change
the 1 day marshmallow">

  <!--
			      HI FRIEND!
  IF YOU ADD AN IMPORT TO FRAMED.T.HTML,
  REMEMBER TO ADD IT TO NEUTRAL.T.HTML TOO

    frame.t.html: "mm more functionality yum yum thank you daddy"
    neutral.t.html: "nobody loves me D'X"

    - Bug Catcher Davis
  -->

  <!-- styling -->
  <link rel="stylesheet" href="/forest/forest.css">
  <link rel="stylesheet" href="/forest/dialog.css">
  <link rel="stylesheet" href="/forest/cursors.css">
  <link rel="stylesheet" href="/core/dumpling/dumpling.css">

  <!-- scripts -->
  <script type="module" src="/global.js"></script>
  <script type="module" src="/core/elements.js"></script>
  <script type="module" src="/forest/forest.js"></script>
</head>

<body class="Forest">
  <div id="game">
    <div class="ForestLayer--framed">
      <main
        id="main"
        class="ForestLayer-content"
        data-border="none"
      >
        {content}
      </main>
    </div>
  </div>

  <div class="ForestLayer--overlay">
    <b-asket id="frames" class="ForestLayer-content" />
  </div>

  <div class="ForestLayer--overlay">
    <b-asket id="inventory" class="ForestLayer-content" />
  </div>

  <div class="ForestLayer--overlay">
    <section class="ForestLayer-content">
      <object type='image/svg+xml'
        data='./skills/istealth.svg'
        class='stealthIcon'
        id='stealthSVG'
        style="fill: none;"
      ></object>

      <img
        id="free-claribelle"
        class="Claribelle"
        src="../forest/images/Claribelle.png"
      >
    </section>
  </div>
</body>

</html>