/* resets */
h1, h2, p {
  margin: 0;
}

/* styles */
.Main {
  width: 100%;
  height: 100%;
}

.Main, .Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Back {
  position: absolute;
  top: 20px;
  left: 20px;
}

h1, .Heading {
  font-size: 100px;
  font-weight: normal;
}

h2, .Subheading {
  font-size: 50px;
  font-weight: normal;
}
